$bg-color-green: #42b883aa;
$bg-color-white: #ffffff;
$color-blue: #535bf2;
$shadow-color-black: rgba(0, 0, 0, 0.1);

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  font-weight: 200;
}

body {
  margin: 0;
}

h1 {
  font-size: 2rem;
}

a {
  font-weight: 500;
  color: $color-blue;
  text-decoration: inherit;
}
a:hover {
  color: $color-blue;
}

button {
  margin-left: 1rem;
  border-radius: 0.5rem;
  border: 1px solid transparent;
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  background-color: $bg-color-white;
  cursor: pointer;
}
button:hover {
  border-color: #646cff;
}

.header {
  padding: 0 2rem;
  background-color: $bg-color-green;
  display: flex;
  align-items: center;
  justify-content: space-between;

  button {
    padding: 1rem 2rem;
  }

  .header-buttons {
    display: flex;
    flex-wrap: wrap;
  }
}

.card-display {
  padding: 1rem 2rem;
}

.card-list {
  display: grid;
  gap: 20px;
}

.card-item {
  box-shadow: 0 2px 4px $shadow-color-black;
  max-width: 300px;

  p {
    font-size: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
  }

  .card-image-container {
    position: relative;
    padding-top: 66.67%; /* 3:2 aspect ratio */

    .card-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

@media (min-width: 2560px) {
  html {
    font-size: 12px;
  }
  .card-list {
    grid-template-columns: repeat(6, 1fr);
  }
}
@media (max-width: 2559px) and (min-width: 1920px) {
  .card-list {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media (max-width: 1919px) and (min-width: 1380px) {
  html {
    font-size: 20px;
  }
  .card-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1379px) and (min-width: 721px) {
  html {
    font-size: 24px;
  }
  .card-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 720px) and (min-width: 577px) {
  html {
    font-size: 28px;
  }
  .card-list {
    grid-template-columns: repeat(2, 1fr);
  }
  .header-buttons {
    flex-direction: column;
  }
}
